<a href="https://colab.research.google.com/github/charantm7/Python-Basic-to-Advance-Projects/blob/main/Python_Basics_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops in Python
## For loop - The for loop iterate for a fixed number of itmes for a know condition in a sequence

- slicing or range (1,10) = [start, stop, step] the stop element will not be included, here (1,2,3,....,9) for range(1,10) it stops at 10 and it is not included.
- And step is like skipping the elements in a given sequence of elements by default '1' will be included and if i include '2' in the step (1,10,2) it skips one number for ex - (1,3,5,..).

In [ ]:
dept = ['CS','EC','IS','AI','DS','CY']
for i in dept:
  print(i)

CS
EC
IS
AI
DS
CY

# Using Enumerate function in loops for unpacking their index and elements.

- for example if by using normal for loop like - for i in names: print(i),
- it will loop over the names like ['c','h','a','r','a','n'].
- But by using the enumerate func - for index, element in name:
- it will give as [(0,'c'),(1,'h'),...] shows with indexing.so we can access the particular index of the element.

In [ ]:
name = "charan"
for index, letter in enumerate(name):
  print((index, letter), end=" ")

(0, 'c') (1, 'h') (2, 'a') (3, 'r') (4, 'a') (5, 'n')

In [ ]:

#print the letters as per their repective idex
name = "charan"
for index, letter in enumerate(name):
  print(letter*(index+1))

c
hh
aaa
rrrr
aaaaa
nnnnnn

# Using else in the for loop;
## syntax =
    for condition:
        - //logic
    else:
       - //logic
## if the loop is executed succesfully the else will print but if we break at any point of the loop it will not print!
## mainly used in debugging the programes if it is correctly looping or not.

- code within the else block will only execute if the for loop completes all its iterations without encountering a break statement. In this case, since the loop breaks when i is 5, the else block won't be executed.

In [ ]:

#version 1

for i in range(1,11):

  #at first it will check the condition that it is equal to 5 & it won't print 5.
  #cauze the condition is before the print statement
  if i == 5:
    break
  print(f"(version-1 = {i})", end=' ')
  print('')

else:
  print("Each element has been printed - v1")


#version 2
for i in range(1,11):

  #it prints till 5 first and check the condition that if it is equal to 5 and it breaks.
  # the condition is after the print statement. so it prints and check for condition.
  print(f"version-2 = {i}", end=' ')
  if i == 5:
    break


else:
  print("Each element has been printed - v2")

(version-1 = 1)
(version-1 = 2)
(version-1 = 3)
(version-1 = 4)
version-2 = 1 version-2 = 2 version-2 = 3 version-2 = 4 version-2 = 5

# Looping the dictionaries using .items()

In [ ]:
val = {'name':1, 'charan':36}
print(val.items()) #it converts the dict to list and tuples.

dict_items([('name', 1), ('charan', 36)])

In [ ]:
val = {'name':1, 'charan':36}

for key, value in val.items():
  print(f"Key = {key} - values = {value}") #loop over the each item and prints it

Key = name - values = 1
Key = charan - values = 36

## Nested loops

 - To print tables from 1 to 10 using nested loop

In [ ]:
for i in range(1,11):
  for j in range(1,11):
    print(f"{j} * {i} = {i*j}", end='\t')
    #     j is the iterating num & i is the constant side ways
  print()

1 * 1 = 1	2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9	10 * 1 = 10
1 * 2 = 2	2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18	10 * 2 = 20
1 * 3 = 3	2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27	10 * 3 = 30
1 * 4 = 4	2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36	10 * 4 = 40
1 * 5 = 5	2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45	10 * 5 = 50
1 * 6 = 6	2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54	10 * 6 = 60
1 * 7 = 7	2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63	10 * 7 = 70
1 * 8 = 8	2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72	10 * 8 = 80
1 * 9 = 9	2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81	10 * 9 = 90
1 * 10 = 10	2 * 10 = 20	3 * 10 = 30	4 * 10 = 40	5 * 10 = 50	6 * 10 = 60	7 * 10 = 70	8 * 10 = 80	9 * 10 = 90	10 * 10 = 100